@charset "UTF-8";
/* Reset and base styles  */
body {
  font-family: "Kanit", "sans-serif";
  font-weight: 400;
  color: white;
  background-color: #F4F7FA;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a :link, a :visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
  background: transparent;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  color: #fff;
  margin-bottom: 60px;
}
.header__wrapper {
  display: flex;
}
.header-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  font-weight: 800;
}
.header-nav__logo {
  position: relative;
  display: block;
  cursor: pointer;
}
.header-nav__logo__image {
  width: 150px;
  height: 150px;
  transition: 0.3s ease-in-out;
}
.header-nav__logo__image:hover {
  transform: scale(1.1);
}
.header-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 20px;
  color: #02C0B7;
}
.header-list__item {
  transition: all 0.5s;
}
.header-list__item:hover {
  transform: scale(1.1);
}
.header-btns {
  display: flex;
  flex-direction: column;
}
.header-btns button {
  color: #02C0B7;
  width: 100px;
  height: 100px;
  font-size: 15px;
  border: 3px solid #02C0B7;
  border-radius: 50%;
  transition: all 0.5s;
}
.header-btns button:hover {
  transform: scale(1.1);
}
.header-btns img {
  width: 60px;
  height: 60px;
}

.private {
  width: 100%;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.private__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.private-list {
  max-width: 300px;
}
.private-list__item {
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}
.private-list__item:hover:not(:first-of-type) {
  transform: translateX(20%);
}
.private-list__item:first-of-type {
  color: #02C0B7;
  font-size: 36px;
  margin-bottom: 40px;
  cursor: default;
}
.private-list__item:last-of-type {
  margin: 0;
}
.private-content {
  display: flex;
  flex-flow: column nowrap;
}
.private__caption {
  font-size: 36px;
  color: #02C0B7;
  margin-bottom: 40px;
}
.private-table {
  display: grid;
  grid-template: repeat(2, 150px)/repeat(3, 200px);
  place-items: center center;
  gap: 95px 65px;
  grid-template-areas: "Текущие заказы   Личный счет      Личные данные" "История заказов  Профили заказов  Корзина";
  color: #FFFFFF;
  font-size: 20px;
}
.private-table__item {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02C0B7;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 45px;
}
.private-table__item:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=personal_account.css.map */
