@import 'module/zeroing.scss';

body {
  color: #000000;
}

.header {
  width: 100%;
  //background: rgba(0, 81, 195);
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  color: #fff;
  &__wrapper {
    display: flex;
  }
  &-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    font-weight: 800;
    &__logo {
      position: relative;
      display: block;
      cursor: pointer;
      &__image {
        width: 150px;
        height: 150px;
        transition: .3s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  &-list{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 20px;
    color: $primary-color;
    &__item {
      transition: all .5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &-btns {
    display: flex;
    flex-direction: column;
    & button {
      color: $primary-color;
      width: 100px;
      height: 100px;
      font-size: 15px;
      border: 3px solid $primary-color;
      border-radius: 50%;
      transition: all .5s;
      &:hover {
        transform: scale(1.1);
      }
    }
    & img{
      width: 60px;
      height: 60px;
    }
  }
}

.registration {
  width: 100vw;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-form {
    border: 2px solid $primary-color;
    border-radius: 45px;
    padding: 10px 20px;
    background-color: #FFFFFF;
  }
}

.users-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 30px;
  &__caption {
    font-size: 40px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__input {
    &-search {
      height: 40px;
      width: 500px;
      border: 1px solid #999999;
      padding: 0 10px;
      font-size: 16px;
      outline: none;
      border-radius: 0.5em;
      &:focus,
      &:valid {
        border: 1px solid $primary-color;
        transition: 0.5s;
      }
      &:focus ~ label,
      &:valid ~ label {
        top: 0;
        font-size: 12px;
        background: #FFFFFF;
      }
      &-block {
        position: relative;
      }
      &-label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-family: poppins, sans-serif;
        font-size: 16px;
        padding: 0 5px;
        pointer-events: none;
        transition: 0.5s;
      }
    }
  }
  &__btn {
    padding: 10px 20px;
    border: 3px double $primary-color;
    border-radius: 45px;
    transition: .3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  &-option {

    &__btn {
      font-weight: 800;
    }
  }
}